*{
	margin:0px;
}
::selection{
	/*background-color:rgba(255,165,0,.2);*/
	color:orange;
}
::-moz-selection{
	/*background-color:rgba(255,165,0,.2);*/
	color:orange;
}

body{
	font-family:"Ubuntu Mono";
	background-color:#fafafa;
	color:#1f1f1f;
	overflow:hidden;
}
	body h2{
		margin-top:100px;
		text-align:center;

	}
	body h2 span:hover{
		border-bottom:2px dotted orange;
	}
	body .main{
		width:371px;
		margin-left:0px;
		margin-right:0px;
		margin:auto;
		margin-top:10px;/*
		-webkit-touch-callout:none;
		-webkit-user-select:none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;*/
	}
	body .main p{
		line-height:20px;
		text-align:justify;
	}
	body .main .circle{
		margin-top:20px;
		display:inline-block;
		height:50px;
		width:50px;
		border-radius:25px;
		background-size:36px;
		background-repeat:no-repeat;
		background-position:center;
		background-color:orange;
		transition:background-color .5s ease-in-out;
		-webkit-transition:background-color .5s ease-in-out;
		overflow:hidden;
		cursor:pointer;
	}
	body .main .circle .content{
		display:none;
	}
		body .main .circle .content .x{
			color:white;
			cursor:pointer;
			z-index:100;
		}
		body .main .circle .content > p:first-of-type{
			margin-top:60px;
		}
		body .main .circle .content p::selection, .content p a::selection{
			background-color:white;
			color:white;
		}
		body .main .circle .content p::-moz-selection, .content p a::-moz-selection{
			background-color:white;
			color:white;
		}
	body .main #projects{
		position:absolute;
		left:calc(50% - 60px);
		background-image:url('../img/projects-closed.png');
	}
		body .main #projects .content{
			width:371px;
			height:600px;
			margin-left: -126px;
			margin-top: -473px;
			color:white;
			overflow-y:auto;
		}
			body .main #projects .content .project{
				width:100%;

			}
				body .main #projects .content .project a img{
					width:100%;
				}
				body .main #projects .content .project h4{
					text-align:center;
				}
				body .main #projects .content .project p{
					text-align:justify;
				}
	body .main #projects:hover{
		background-image:url('../img/projects-open.png');
	}
	body .main #contact{
		position:absolute;
		left:calc(50% + 10px);
		background-image:url('../img/contact-closed.png');
	}
		body .main #contact .content{
			width:371px;
			height:600px;
			margin-left: -196px;
			margin-top: -473px;
		}
			body .main #contact .content p{
				color:white;
			}
				body .main #contact .content p a{
					color:white;
					text-decoration:none;
				}
	body .main #contact:hover{
		background-image:url('../img/contact-open.png');
	}