* {
  margin:0px;
  font-family: "Ubuntu", sans-serif;
}
body {
  background: url(../img/sunset_smol.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .main {
  perspective:1000px;
  -o-perspective:1000px;
  -moz-perspective:1000px;
  -webkit-perspective:1000px;
  width:350px;
  height:450px;
  margin-top:calc(50vh - 300px);
  margin-left:calc(50% - 175px);
}
body .main .front {
  border-radius:5px;
  opacity:.8;
  background-color:rgba(243, 253, 254, .9);
  transform:rotateX(20deg);
  -o-transform:rotateX(20deg);
  -moz-transform:rotateX(20deg);
  -webkit-transform:rotateX(20deg);
  transition:transform .5s ease-in-out, opacity .5s ease-in-out;
  -o-transition:transform .5s ease-in-out, opacity .5s ease-in-out;
  -moz-transition:transform .5s ease-in-out, opacity .5s ease-in-out;
  -webkit-transition:transform .5s ease-in-out, opacity .5s ease-in-out;
}
body .main .front img {
  width:120px;
  height:120px;
  border-radius:60px;
  margin-left:calc(50% - 60px);
  margin-top:50px;
}
body .main .front h1 {
  margin-top:25px;
  text-align:center;
  color:rgb(43, 53, 60);
}
body .main .front h3 {
  margin-top:15px;
  text-align:center;
  color:rgb(43, 53, 60);
  width:250px;
  margin-left:50px;
  display:block;
}
body .main .front h3 a {
  color:rgba(227, 180, 173, .9);
  text-decoration:none;
  opacity:.9;
}
body .main .front h3 a:hover {
  color:rgba(227, 180, 173, 1);
}
body .main .front .links {
  height:60px;
  width:245px;
  margin-left:50px;
  margin-top:25px;
  padding-bottom:15px;
  border-bottom:2px solid rgba(227, 180, 173, .8);
}
body .main .front .links img {
  float:left;
  margin-left:15px;
  margin-right:15px;
  cursor:pointer;
  opacity:.9;
}
body .main .front .links img:hover {
  opacity:1;
}
body .main .front .links #projects {
  height:50px;
  width:50px;
  margin-top:0px;
}
body .main .front .links #experience {
  height:55px;
  width:55px;
  margin-top:-4px;
}
body .main .front .links #resume {
  height:50px;
  width:50px;
  margin-top:0px;
}
/*body .main .front hr {
  background-color:rgb(50, 97, 130);
  border-color:rgb(50, 97, 130);
  width:200px;
  margin-left:70px;
}*/
body .main .project_wrapper {
  display:none;
}
body .main .experience_wrapper {
  display:none;
}
body .main .project_wrapper {
  width:600px;
  height:630px;
  margin-left:-125px;
  background-color:rgba(243, 253, 254, .95);
  border-radius:5px;
}
body .main .project_wrapper .header {
  height:50px;
  width:100%;
  padding-top:20px;
  margin-left:20px;
  line-height:50px;
}
body .main .project_wrapper .header img {
  width:30px;
  height:30px;
  margin-top:8px;
  margin-left:10px;
  float:left;
  cursor:pointer;
  opacity:.9;
}
body .main .project_wrapper .header img:hover {
  opacity:1;
}
body .main .project_wrapper .header h2 {
  float:left;
  margin-left:20px;
}
body .main .project_wrapper .project_list {
  width:530px;
  margin-top:2px;
  margin-left:35px;
}
body .main .project_wrapper .project_list span {
  margin-bottom:15px;
}
body .main .project_wrapper .project_list span h3 {
  color:rgba(227, 180, 173, 1);
  margin-bottom:5px;
}
body .main .project_wrapper .project_list span a {
  text-decoration:none;
  color:rgba(227, 180, 173, .8);
}
body .main .project_wrapper .project_list span a:hover {
  color:rgba(227, 180, 173, 1);
}
body .main .project_wrapper .project_list span p {
  margin-bottom:15px;
}
body .main .experience_wrapper {
  width:600px;
  height:615px;
  margin-left:-125px;
  background-color:rgba(243, 253, 254, .95);
  border-radius:5px;
}
body .main .experience_wrapper .header {
  height:50px;
  width:100%;
  padding-top:20px;
  margin-left:20px;
  line-height:50px;
}
body .main .experience_wrapper .header img {
  width:30px;
  height:30px;
  margin-top:8px;
  margin-left:10px;
  float:left;
  cursor:pointer;
}
body .main .experience_wrapper .header h2 {
  float:left;
  margin-left:20px;
}
body .main .experience_wrapper .experience_list {
  width:530px;
  margin-top:2px;
  margin-left:35px;
}
body .main .experience_wrapper .experience_list span {
  margin-bottom:15px;
}
body .main .experience_wrapper .experience_list span h3 {
  margin-bottom:5px;
}
body .main .experience_wrapper .experience_list span h5 {
  margin-bottom:3px;
}
body .main .experience_wrapper .experience_list span a {
  text-decoration:none;
  color:rgba(227, 180, 173, .8);
}
body .main .experience_wrapper .experience_list span a:hover {
  color:rgba(227, 180, 173, 1);
}
body .main .experience_wrapper .experience_list span p {
  margin-bottom:15px;
}
